<%- include layouts/header.ejs %>

    <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 border"><span style="color: brown;"> Video visto para esto link  https://www.youtube.com/watch?v=1kNwZbRiVcQ </span>col-12 col-sm-6 col-md-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus officia vitae similique voluptatem, suscipit amet culpa consectetur, et quos ab molestiae qui voluptas corrupti? Placeat sint porro tempora impedit a!</div>
      <div class="col-12 col-sm-6 col-md-4 border">col-12 col-sm-6 col-md-4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid iure, facilis odio dolorem fugiat deserunt ab, nulla officiis modi placeat ratione corporis? Quaerat quia deserunt eius natus nisi vitae eveniet.
      Tempore delectus quas voluptates architecto praesentium nam qui odio, autem rem corrupti, mollitia atque id quae iure consectetur, voluptatum incidunt blanditiis! Quam unde neque animi error eius aut sed fuga.
      Rem labore voluptates veniam nisi voluptas molestias excepturi fugit. Quaerat neque laudantium consequatur quae exercitationem deleniti accusantium laboriosam veritatis eum aliquid, vitae maxime ipsam deserunt voluptatibus quibusdam harum in iusto.
      Tempora, minus aperiam? Expedita placeat reiciendis vero omnis voluptate provident dolorem nulla earum molestiae quasi, aut, dolorum aliquid veritatis ratione atque nesciunt deserunt ipsum, sed reprehenderit repellat. Placeat, tempora sequi.</div>
      <div class="col-12 col-sm-12 col-md-4 border">12 sm-6 md-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed odit rem, assumenda odio mollitia architecto! Doloremque ut, iste facilis voluptas nobis, iusto vero nisi, rerum ipsa minus quaerat. Dolorem, nisi.
      Quae veniam impedit, temporibus placeat possimus rerum quia harum doloribus facere dolorem sequi excepturi consectetur distinctio debitis culpa nostrum dicta! Nemo vitae hic tempora possimus rerum maxime, voluptatum cupiditate non!
      Velit quam dolorem beatae repellat, asperiores aperiam sunt vitae, suscipit, ipsum cum minus reiciendis. Dicta natus deserunt tempore esse cupiditate corrupti dolorem, ducimus ad porro, assumenda quas odio, enim consequuntur.</div>
      <div class="col-12 col-sm-12 col-md-12 border"><b>col-12 sm-12 md-12 <span style="color: brown;">como no alcanzo a sumar 12 arriba se va abajo y le doy 12 en todo para que sea una siempre igual   </span>      snm ipsa minus quaerat. Dolorem, nisi.
      Quae veniam impedit, temporibus placeat possimus rerum quia harum doloribus facere dolorem sequi excepturi consectetur distinctio debitis culpa nostrum dicta! Nemo vitae hic tempora possimus rerum maxime, voluptatum cupiditate non!
      Velit quam dolorem beatae repellat, asperiores aperiam sunt vitae, suscipit, ipsum cum minus reiciendis. Dicta natus deserunt tempore esse cupiditate corrupti dolorem, ducimus ad porro, assumenda quas odio, enim consequuntur.</b></div>
    </div>




  </div>
  <%- include layouts/footer.ejs %>
  
